$black:           #222525;
$white:           #FFFFFF;

$base-gray:       #3D4853;
$base-gray-50:    rgba(61, 72, 83, 0.5);
$base-gray-20:    rgba(61, 72, 83, 0.2);

$light-gray:      #F2F4F8;
$light-gray-50:   rgba(242, 244, 248, 0.5);

$primary:         #AC145A;
$processing:      #F3A348;
$green:           #219653;
$error:           #CB4141;

$mobile-shadow: 0 5px 10px 0px rgba(61, 72, 83, 0.05);
$large-shadow: 0px 15px 30px 0 rgba(45, 42, 72, 0.2);

$lg: 1440px;