@import './variables';

.collapse {
  position: relative;
  overflow: hidden;
  z-index: -1;

  &.open {
    height: auto !important;
    transition: height 0.3s ease-in-out;
    z-index: 0;
  }
}