@import './variables';

.collapse {
  position: relative;
  overflow: hidden;
  z-index: -1;

  &.open {
    height: auto !important;
    transition: height 0.3s ease-in-out;
    z-index: 0;
  }
}

.collapse-mobile {
  box-shadow: none;

  button  {
    width: 100%;
  }

  .collapse {
    height: 0;
  }

  .btn-show-more {
    display: none;
  }

  @media (min-width: 768px) {
    box-shadow: inset 0 -150px 100px -50px $white;

    .collapse {
      height: 107px;
    }

    .btn-show-more {
      display: block;
    }
  }
}