@import './variables';

.footer {
  ul {
    list-style: none;
  }

  &__anchor-to-the-top {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    cursor: pointer;
    margin-bottom: 14px;
    color: $black;
    font-size: 16px;
    font-weight: 700;
    border-color: $light-gray;

    &:hover {
      color: $black;
    }

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background: #F2F4F8;
      border-radius: 4px;
      margin-left: 5px;

      svg {
        transform: rotate(180deg);
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__quick-registration {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    &_title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    form {
      display: flex;
      justify-content: center;
      height: 52px;
      margin-bottom: 37px;

      input {
        border: 0.3px solid $base-gray-20;
        margin-right: 5px;
        width: 90%;
        padding: 10px;
        border-radius: 4px;

        &::placeholder {
          color: $light-gray;
        }
      }

      .btn {
        width: 85px;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 26px;
      padding: 24px 0;
      border-top: 1px solid rgba(155, 155, 155, 0.3);
      border-bottom: 1px solid rgba(155, 155, 155, 0.3);
      
      &_title {
        font-size: 24px;
        margin-right: 57px;
        margin-bottom: 0;
      }

      form {
        height: 48px;
        margin-bottom: 0;
        width: 50%;

        input {
          margin-right: 24px;
        }

        .btn {
          padding:  0 24px;
        }
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;

    a {
      color: $black;
      cursor: pointer;
    }

    .nav-section {
      width: 100%;

      ul {
        margin-bottom: 30px;

        li {
          margin-bottom: 16px;
        }
      }
    }

    &__logo {
      display: none;
      width: calc(100% / 6);

      img {
        width: 101px;
      }
    }
    
    &__section-title {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-weight: 700;
    }

    &__contact-us {
      svg {
        margin-right: 8px;
        color: $primary;
      }
    }

    &__social {
      margin-bottom: 30px;

      .nav__section-title {
        margin-bottom: 20px;
      }

      .social-wrap {
        display: flex;

        .social-item {
          margin-right: 8px;
          margin-bottom: 12px;

          img, svg {
            max-height: 32px;
            max-width: 32px;
          }

          .image {
            display: block;
          }

          .text {
            display: none;
          }
        }
      }
    }

    &__pay-security {
      margin-bottom: 10px;

      .nav__section-title {
        margin-bottom: 20px;
      }

      .pay-security-wrap {
        display: flex;
        flex-wrap: wrap;

        .pay-item {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 48px;
          max-height: 32px;
          border-radius: 4px;
          margin-right: 5px;
          margin-bottom: 20px;
          background-color: $light-gray;
          padding: 5px;

          @media (min-width: 768px) {
            margin-right: 16px;
            margin-bottom: 16px;
          }
        }

        .pay-item:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }

    @media (min-width: 540px) and (max-width: 768px) {
      flex-wrap: wrap;
      flex-direction: row;

      .nav-section {
        width: 33.3%;
      }

      &__social,
      &__pay-security {
        width: 50% !important;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;

      .nav-section {
        width: (100% / 6);
      }

      &__logo {
        display: block;
      }

      &__section-title {
        margin-bottom: 20px;
      }

      &__social {
        .social-wrap {
          flex-direction: column;

          .social-item {
            .image {
              display: none;
            }

            .text {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  &__privacy-policy {
    a {
      &:nth-child(1) {
        padding-right: 15px;
        margin-right: 10px;
        border-right: 1px solid $light-gray;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__copirating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    padding: 0 15px;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;

      border-top: 1px solid rgba(155, 155, 155, 0.3);
      font-size: 14px;
    }
  }
}