@import './variables';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;

  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;

  // flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.disable-container-gutters {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
}

.btn {
  border: none;
  background: $black;
  color: $white;
  border-radius: 4px;
  
  &:hover {
    background: #333636;
  }
}

.giveMeEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: calc(10 * 1.5);
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.border-bottom {
  border-bottom: 0.7px solid $base-gray-20;
}