@import '../variables';

.advice-consultants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8px 20px 20px;
  border-radius: 4px;
  background-color: rgba(242, 206, 223, 0.6);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  &__text {
    color: $primary;
    margin-right: 10px;
    
    .title {
      font-weight: 700;
      margin-bottom: 12px;
    }
    .text {
      max-width: 415px;
      font-size: 12px;
    }
  }

  &__image-bg {
    position: absolute;
    right: -70px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 31px;
    height: 31px;
    border-radius: 4px;
    background-color: $white;
    cursor: pointer;
    z-index: 2;

    svg {
      transform: rotate(-90deg);

      path {
        fill: $primary;
        fill-opacity: 1;
      }
    }
  }
}