@import '../variables';

.description-brand {
  .collapse {
    height: 0;

    @media (min-width: 768px) {
      height: 230px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    span {
      svg {
        transform: rotate(-90deg);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    margin-bottom: 30px;
    
    padding: 15px 20px;
    border-radius: 4px;

    background-color: $light-gray-50;
  }
}