@import '../variables';

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__brand {
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
  }

  &__product-rate {
    display: flex;
    font-size: 12px;
    color: $base-gray-50;
    
    margin-bottom: 12px;
  }

  &__stock {
    font-size: 12px;
    margin-bottom: 12px;

    .stockStatus {
      color: $green;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    &__brand {
      font-size: 12px;
      margin-bottom: 12px;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    &__product-rate {
      margin-bottom: 16px;
    }

    &__stock {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__price {
      font-size: 24px;
    }
  }
}