@import '../variables';

.product-item-overview,
.product-item-ingredients,
.product-item-about-brand {
  margin-bottom: 40px;
  box-shadow: inset 0 -150px 100px -50px $white;
  cursor:text;

  @media (min-width:768px) {
    padding-bottom: 20px;
  }

  &__title  {
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__content {
    position:relative;
    z-index:-1;
    margin-bottom: 4px;

    &_subtitle {
      font-weight: 700;
      margin-bottom: 8px;
    }

    &_text {
      margin-bottom: 20px;
    }

    &_text:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__btn-show-more {
    border: none;
    background: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: $primary;
    cursor: pointer;
  }

  .overview-skin-type-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .about-product-visualization {
    margin-right: 10px;

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 52px;
      height: 52px;
      border-radius: 25px;
      overflow: hidden;

      background-color: #F2F4F8;
      font-size: 34px;
      
      margin-bottom: 8px;
    }

    &__title {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    &__subtitle {
      font-size: 11px;
    }
  }
}