@import '../variables';

.product-item-ingredients {
  &.collapse-mobile {
    box-shadow: none;

    button  {
      width: 100%;
    }

    .collapse {
      height: 0;
    }

    .product-item-ingredients__btn-show-more {
      display: none;
    }

    @media (min-width: 768px) {
      box-shadow: inset 0 -150px 100px -50px $white;

      .collapse {
        height: 107px;
      }
  
      .product-item-ingredients__btn-show-more {
        display: block;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;

    span {
      svg {
        transform: rotate(-90deg);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}