@import '../variables';

.product-item-palette {
  font-size: 14px;
  margin-bottom: 20px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: $base-gray-50;
    margin-bottom: 20px;
    padding: 0 15px;

    .colour-name {
      color: $black;
    }

    button {
      color: $primary;
      font-size: 14px;
    }
  }

  &__colour-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow-x: auto;

    @media (min-width: 768px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      overflow: hidden;
      height: 52px;
      padding: 0 14px;
    }
  }

  &__add-to-basket-controllers {
    display: flex;
    height: 52px;
    margin-bottom: 20px;
    padding: 0 15px;

    .select-wrapper {
      position: relative;
      display: flex;
      border: 0.7px solid rgba(61, 72, 83, 0.2);
      border-radius: 4px;
      width: 15%;

      .select-quantity {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 16px 10px;
        padding-left: 14px;
      }

      .custom-select-arrow {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-55%);
        display: block;
        z-index: -1;

        svg {
          width: 10px;
        }

        svg > path {
          fill-opacity: 1;
        }
      }
    }

    .add-product-btn {
      width: 70%;
      margin: 0 12px;
    }

    .follow-product {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 0.7px solid rgba(61, 72, 83, 0.2);
      border-radius: 4px;
      padding: 14px 10px;

      width: 15%;

      svg {
        width: 17px;
        height: 16px;
      }
    }
  }

  &__about-points {
    display: flex;
    justify-content: center;
    align-items: center;

    .subtitle {
      color: $base-gray-50;
    }

    .image {
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 25px;
      background-color: $light-gray;
      overflow: hidden;
      margin-right: 12px;

      img {
        position: absolute;
        transform: translateX(50%);
      }
    }

    .title {
      margin-right: 12px;
    }

    .bliss-points {
      color: $primary;
    }
  }
}