@import '../variables';

.product-item-about-brand {
  &.collapse-mobile {
    box-shadow: none;

    button  {
      width: 100%;
    }

    .collapse {
      height: 0;
    }

    .product-item-about-brand__btn-show-more {
      display: none;
    }

    .product-item-about-brand__content {
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      box-shadow: inset 0 -150px 100px -50px $white;

      .collapse {
        height: auto;
      }
  
      .product-item-about-brand__btn-show-more {
        display: block;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    span {
      svg {
        transform: rotate(-90deg);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    margin-bottom: 30px;
    
    padding: 15px 20px;
    border-radius: 4px;

    background-color: $light-gray-50;
  }
}