@import '../variables';

.product-item-ingredients {
  &__title {
    display: flex;
    justify-content: space-between;

    span {
      svg {
        transform: rotate(-90deg);
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .collapse {
    @media (min-width: 768px) {
      height: 107px;
    }
  }
}