@import '../variables';

.skin-type-section {
  display: flex;
  flex-wrap: wrap;
}

.skin-type-visualization {
  margin-right: 10px;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;
    border-radius: 25px;
    overflow: hidden;

    background-color: #F2F4F8;
    font-size: 34px;
    
    margin-bottom: 8px;
  }

  .title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .subtitle {
    font-size: 11px;
  }
}